body {
    background-color:grey;
}

#title {
    text-align:center;
    color:#0080ff;
}

img {
    width:128px;
    height:200x;
    float:right;
}

p {
    text-align:left;
    
}

ul li{
    color:red;
}

.intro {
    text-align:left;
    border:2px dashed #84ffaa;
}
