body {
    font-family: Book Antiqua, Arial;
}

div {
    border-radius: 5px;
}

#header {
    position:fixed;
    z-index: 1;
    width: 99%;
    height: 60px;
    margin-top: -20px;
    margin-bottom: 10px;
    background-color: #69D2E7;
    
}

#name {
    margin-top: 20px;
    margin-left: 15px;
    font-size: 22px;
    color: #ffffff;
    position: absolute;
}

#email {
    float: right;
    margin-right: 15px;
    margin-top: 20px;
    
}

#header a {
    font-size: 20px;
    color: #ffffff;
    text-decoration: none;
}

.left {
    float: left;
    position: relative;
    margin-top: 50px;
    margin-bottom: 10px;
    height: 800px;
    width: 150px;
    background-color: #A7DBD8;
}
/*
.dates {
    
    position: absolute;
    background-color: #E0E4CC;
    margin-top: 50px;
    margin-left: 160px;
    height: 800px;
    width: 100px;
    
}*/

.right {
    float: right;
    position:relative;
    background-color: #E0E4CC;
    position: relative;
    margin-top: 50px;
    width: 1410px;
    height: 800px;
}


#footer {
    clear: both;
    position: relative;
    background-color: #F38630;
    height: 60px;
    
}

.university td {
    /*border-collapse: separate;*/
    padding-right: 10px;
    padding-left: 10px;
    
}

#education .university .firstcolumn {
    padding-left: 0px;
}
#education .university .secondcolumn {
    padding-left: 30px;
    color:left;
}
