div {
    border-radius: 5px;
}

#header {
    position:fixed;
    z-index: 1;
    width: 97.5%;
    height: 60px;
    margin-top: -20px;
    margin-bottom: 10px;
    background-color:yellow;
    
}

.left {
    float: left;
    position: relative;
    margin-top: 50px;
    margin-bottom: 10px;
    height: 800px;
    width: 150px;
    background-color:red;
}

.dates {
    
    position: absolute;
    background-color:purple;
    margin-top: 50px;
    margin-left: 160px;
    height: 800px;
    width: 100px;
    
}

.right {
    float: right;
    position:relative;
    background-color: blue;
    position: relative;
    margin-top: 50px;
    width: 1300px;
    height: 800px;
}
/*

#footer {
    clear: both;
    width: 85%;
    background-color:green;
    position: relative;
    float:right;
    
}
*/
